.container1 {
    padding:12px;
    font-family:"Roboto";
    margin:5px;
    border-radius:22px;
    background-color:rgb(135, 250, 160);
    width: 50vh;
    height:70vh;
}
.center1 {
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}