<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1 class="nav-logo">Project 2.0</h1>
    </a>
    <a class="navbar-brand" [routerLink] = "['/welcome']">Home</a>
    <div class="dropdown">
      <button class="btn btn-secondary" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a class="dropdown-item" href="#" [routerLink] = "['/petStore']"[queryParams]="{url:'https://petstore.swagger.io/v2/pet/findByStatus?status=available'}">Available</a>
        </button>
        <button mat-menu-item>
          <a class="dropdown-item" href="#" [routerLink] = "['/petStore']"[queryParams]="{url:'https://petstore.swagger.io/v2/pet/findByStatus?status=pending'}">Pending</a>
        </button>
        <button mat-menu-item>
          <a class="dropdown-item" href="#" [routerLink] = "['/petStore']"[queryParams]="{url:'https://petstore.swagger.io/v2/pet/findByStatus?status=sold'}">Sold</a>
        </button>
      </mat-menu>
    </div>
  </div> 
</nav>
<div>
  <router-outlet class = "container"></router-outlet>
</div>
